<%# <%= search_form_for @q do |f| %>
  
  <%# <%= f.label :p_Name_cont, "Project Title" %> 
  <%# <%= f.text_field :p_Name_cont %> 
  

    <%# <%= f.submit "Search", class: 'btn btn-primary'%> 
<%# <% end %> 
  



<h1>Project Detail</h1>
<table class="table" >
    <tr>
        <th scope="col">#</th>
        <th scope="col">Project Name</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
  
    

    </tr>
      <tr>
      
         <% @projects.each do |project| %>
      
         <td>
           <%= project.id %>
         </td>
        <td>

          
        <%= link_to project.p_Name, project_path(project) %>


       
     

        </td>
        <td>

        <%= project.p_desc %>
     
    
        </td>
        
 <td>
        <% if can? :edit, Project %>
         <%= link_to "Edit", edit_project_path(project) , class:"btn btn-primary"%>


      
        <% end %>

      <% if can? :destroy, Project %>


<%= link_to "Delete", project, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }, class:"btn btn-primary" %>

 
<% end %>



         
        </td>

       </tr>
    
     <% end %>
</table>

 <% if can? :read, Bug %>

<%= link_to "Bug Detail", bugs_path, class:"btn btn-primary" %>
          

<% end %>


 

 
 
       


<% if can? :new, Project %>
<%= link_to "New Project", new_project_path, class:"btn btn-primary" %>
 
<% end %>



