
<% if current_user.manager? || current_user.QA? %>
<%= search_form_for @q do |f| %>
  
  <%= f.label :p_Name_cont, "Project Title" %>
  <%= f.text_field :p_Name_cont %>
  

    <%= f.submit "Search", class: 'btn btn-primary'%>
<% end %>
<h1>Project Detail</h1>
<table class="table" >
    <tr>
        <th scope="col">#</th>
        <th scope="col">Project Name</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
  
    

    </tr>
      <tr>
      
         <% @projects.each do |project| %>
      
         <td>
           <%= project.id %>
         </td>
        <td>

          
        <%= link_to project.p_Name, project_path(project) %>


       
     

        </td>
        <td>

        <%= project.p_desc %>
     
    
        </td>
        
 <td>
        <% if can? :edit, Project %>
         <%= link_to "Edit", edit_project_path(project) , class:"btn btn-primary"%>


      
        <% end %>

      <% if can? :destroy, Project %>


<%= link_to "Delete", project, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }, class:"btn btn-primary" %>

 
<% end %>


<% if can? :new, Bug %>

<%= link_to 'Assign Bug', new_bug_path(project_id: project.id), class: 'btn btn-primary' %>
 
<% end %>

         
        </td>

       </tr>
    
     <% end %>
</table>

 <% if can? :read, Bug %>

<%= link_to "Bug Detail", bugs_path, class:"btn btn-primary" %>
          

<% end %>


 
<% else %>
 <h1>Your Assigned Projects</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project Name</th>
      <th scope="col">Description</th>
     

    
    </tr>
  </thead>
  <tbody>
      <% @projects_assigned_to_user.each do |project| %>
    <tr>
      
        <td><%= project.id %></td>
         <td><%= project.p_Name %></td> 
         <td><%= project.p_desc %></td>
    </tr>
  
    <% end %>
  </tbody>
</table>
 

  
    
      
        

<h1>Assigned Bugs of Your Projects</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Bugs</th>
      <th scope="col">Assigned To Projects</th>
      <th scope="col">Type</th>
      <th scope="col">Status</th>
      <th scope="col">Deadline</th>
      <th scope="col">Action</th>



    
    </tr>
  </thead>
  <tbody>
    <% @bugs_assigned_to_user.each do |bug| %>
    <tr>
       <td><%= bug.id %> </td>
      
       <td><%= bug.b_Title %> </td>
        <td><%= bug.project.p_Name %></td>
          <td><%= bug.b_type %> </td>
          <td><%= bug.status %> </td>
          <td><%= bug.b_deadline %> </td>
        


         <td><%= link_to "Edit", edit_bug_path(bug,project_id: bug.project.id),class:"btn btn-primary" %></td>
    </tr>
  
    <% end %>
  </tbody>
</table>
 
<% end %>

 
 
       


<% if can? :new, Project %>
<%= link_to "New Project", new_project_path, class:"btn btn-primary" %>
 
<% end %>


