<%= link_to 'back' , projects_path,class: 'btn btn-primary' %>

<h1>Project Detail</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      


    
    </tr>
  </thead>
  <tbody>
    
    <tr>

<td><%= @project.p_Name %></td>
<td><%= @project.p_desc %></>
    </tr>
  
    
  </tbody>
</table>


<h1>Assiged Users<h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>



    
    </tr>
  </thead>
  <tbody>
   <% @users.each do |user|%>
    <tr>
     <td><%= user.id %></td>
     <td><%= user.name %></td>
     <td><%= user.email %></td>
     <td><%= user.role %></td>

     <%# <><%= link_to 'Remove', remove_user_project_path(@project, user), method: :delete, data: { confirm: 'Are you sure?' } %>
    </tr>
  
    <% end %>
  </tbody>
</table>

<%# <%= link_to 'Remove', remove_user_project_path(@project, user), method: :delete, data: { confirm: 'Are you sure?' } %>
 
 <h1>Assiged Bugs<h1>
<table class="table f-2">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Bugs</th>
      <th scope="col">Type</th>
      <th scope="col">Status</th>
      <th scope="col">Deadline</th>
  



    
    </tr>
  </thead>
  <tbody>
 <% @bugs.each do |bug|%>
    <tr>
       <td><%= bug.id %> </td>
       <td><%= bug.b_Title %> </td>
          <td><%= bug.b_type %> </td>
          <td><%= bug.status %> </td>
          <td><%= bug.b_deadline %> </td>


      
    </tr>
  
    <% end %>
  </tbody>
</table>









<br>

<%# <h1>Assign New Bug</h1> %>
<%# <%= form_with(model: Bug.new, url: project_bugs_path(@project), local: true) do |form| %> 
  <%# <%= form.label :"Bug Title" %> 
  <%# <%= form.text_field :b_Title %> 
<%#  %>
<%# <div> %>
  <%# <%= form.label :b_type %> 
  <%# <%= form.select :b_type, Bug.b_types.keys %> 
<%# </div> %>
<%# <div> %>
  <%# <%= form.label :status %> 
  <%# <%= form.select :status, Bug.statuses.keys %> 
<%# </div> %>
<%#  %>
  <%# <%= form.label :"Deadline" %> 
  <%# <%= form.date_field :b_deadline %> 
<%#  %>
   <%# <%= form.hidden_field :project_id, value: @project.id %>   
 
 
  <%# <%= form.submit 'Assign Bug',class: 'btn btn-primary'  %> 
<%# <% end %> 