<%= search_form_for @q do |f| %>
  
  <%= f.label :b_Title_cont, "Bug Title" %>
  <%= f.text_field :b_Title_cont %>
  <%= f.label :status_cont, "Status" %>

  <%= f.select :status_eq, Bug.statuses.to_a.map { |w| [w[0].humanize, w[1]] },
                         {:include_blank => true} %>
  <%= f.label :b_type_cont, "Type" %>

 <%= f.select :b_type_eq, Bug.b_types.to_a.map { |w| [w[0].humanize, w[1]] },
                         {:include_blank => true} %>


    <%= f.submit "Search", class: 'btn btn-warning'%>
  
<% end %>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Type</th>
      <th scope="col">Status</th>
      <th scope="col">deadline</th>
      <th scope="col">Projects</th>
      <th scope="col">Action</th>


    </tr>
  </thead>
  <tbody>
    <% @bugs.each do |bug| %>
    <tr>
      <td><%= bug.id %></td>
       <td><%= bug.b_Title %></td>
    <td><%= bug.b_type %></td>
    <td><%= bug.status %></td>
    <td><%= bug.b_deadline %></td>
    <td><%= bug.project.p_Name %></td>
    <td>
<% if can? :edit, Bug %>
 

<%= link_to 'Edit Bug', edit_bug_path(bug,project_id: bug.project.id), class: 'btn btn-warning' %>


 
<% end %>
</td>
    </tr>
  
   
<% end %>
  </tbody>
</table>



<%= link_to 'back' , projects_path,class: 'btn btn-primary' %>